.container {
    flex: 2;
    margin: 50px 0px;
}

.subtitle {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.title {
    font-style: 28px;
    margin-bottom: 50px;

}

.items {
    display: flex;
    flex-direction: column;
}

