.content {
    display: flex;
    gap: 30px;
}

/* Default Layout (Desktop View) */
.cardList {
    flex: 5;
}

.menu {
    flex: 2;
}

.pagination {
    flex: 5;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column; 
        gap: 20px; 
    }

    .cardList {
        width: 100%; 
    }

    .menu {
        width: 100%; 
        order: 2; 
    }

    .pagination {
        width: 100%; 
        order: 3; 
    }
}